UI vesamenu.c32
MENU TITLE Luna OS Boot Menu
MENU DEFAULT
MENU COLOR TITLE 1;36;44
MENU COLOR SEL 7;37;40
MENU COLOR UNSSEL 37;40
MENU COLOR BORDER 30;44
MENU COLOR PWDBORDER 30;44
MENU COLOR PWDFFF 37;40
MENU COLOR PWDSELFFF 37;40

DEFAULT luna
TIMEOUT 150
LABEL luna
  MENU LABEL Luna OS
  LINUX /casper/vmlinuz
  APPEND boot=live components quiet splash persistence user-fullname=Luna
  INITRD /casper/initrd.img

LABEL luna-clean
  MENU LABEL Luna OS (clean session)
  LINUX /casper/vmlinuz
  APPEND boot=live components quiet splash user-fullname=Luna
  INITRD /casper/initrd.img

LABEL luna-safe
  MENU LABEL Luna OS (safe graphics)
  LINUX /casper/vmlinuz
  APPEND boot=live components quiet splash nomodeset user-fullname=Luna
  INITRD /casper/initrd.img
