# Luna OS GRUB menu
set default="0"
set timeout=15
set timeout_style=menu
insmod all_video
insmod gfxterm
insmod gzio
set gfxmode=auto
terminal_output gfxterm

# Astronaut Catppuccin GRUB Theme
insmod png
set theme=/boot/grub/themes/astronaut/theme.txt

menuentry "Luna OS" {
    search --no-floppy --set=root --file /live/filesystem.squashfs
    linux /live/vmlinuz boot=live components quiet splash username=luna hostname=luna live-config.user-fullname=Luna live-config.username=luna live-config.userpassword=luna
    initrd /live/initrd
}

menuentry "Luna OS (debug)" {
    search --no-floppy --set=root --file /live/filesystem.squashfs
    linux /live/vmlinuz boot=live components username=luna hostname=luna live-config.user-fullname=Luna live-config.username=luna live-config.userpassword=luna console=ttyS0,115200n8 debug
    initrd /live/initrd
}

menuentry "Luna OS (safe graphics)" {
    search --no-floppy --set=root --file /live/filesystem.squashfs
    linux /live/vmlinuz boot=live components quiet splash nomodeset username=luna hostname=luna live-config.user-fullname=Luna live-config.username=luna live-config.userpassword=luna
    initrd /live/initrd
}

menuentry "Reboot to firmware (UEFI)" {
    fwsetup
}
