# Luna OS GRUB menu
set default="0"
set timeout=15
set timeout_style=menu
insmod all_video
insmod gfxterm
insmod gzio
set gfxmode=auto
terminal_output gfxterm

# Astronaut Catppuccin GRUB Theme
insmod png
set theme=/boot/grub/themes/astronaut/theme.txt

menuentry "Luna OS" {
    search --no-floppy --set=root --file /casper/filesystem.squashfs
    linux /casper/vmlinuz boot=casper components nopersistence ignore_uuid username=ubuntu hostname=ubuntu user-fullname=Luna console=ttyS0,115200n8
    initrd /casper/initrd.img
}

menuentry "Luna OS (debug)" {
    search --no-floppy --set=root --file /casper/filesystem.squashfs
    linux /casper/vmlinuz boot=casper components nopersistence ignore_uuid username=ubuntu hostname=ubuntu user-fullname=Luna console=ttyS0,115200n8 debug break=premount
    initrd /casper/initrd.img
}

menuentry "Luna OS (safe graphics)" {
    search --no-floppy --set=root --file /casper/filesystem.squashfs
    linux /casper/vmlinuz boot=casper components nopersistence ignore_uuid username=ubuntu hostname=ubuntu user-fullname=Luna nomodeset console=ttyS0,115200n8
    initrd /casper/initrd.img
}

menuentry "Reboot to firmware (UEFI)" {
    fwsetup
}
